body {
	font-family:Arial, Arial Narrow, Helvetica, Geneva;
	font-size:12px;
	margin: 0px;
	color:#7c7c7c;
	background-color: #FFF;
}

.product-grid {
    box-shadow: 3px 3px 8px 0px rgba(0, 0, 0, 0.1);
}

a {
	color: #008348;

}
a:hover	{
	color: #e40000;
	text-decoration:underline;


}

h3 {
	text-align: right;
	padding: 4px;
	font-size: 125%;
	font-weight: bold;
	background-color:#8c8c8c;
	color: white;
}

  .product-link {
    display: block;
    position: relative;
    overflow: hidden;
    perspective: 1000px;
  }

  .product-image {
    transition: transform 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    transform-origin: center center;
  }

  .product-link:hover .product-image {
    transform: scale(1.2) rotate(10deg);
  }


h4 {
	color: #fff;
	background-color: #242C37;
	border: 1px dotted #242C37;
	font-size: 130%;
	font-weight: bold;
	padding: 5px;
}

.inactive {
	display: none;
}
.active {
	display: block;
}






.folder a {
	background-image: url("/images/folder.gif");
	background-repeat: no-repeat;
}


.warning { color: #f00 }

.formMessage {
	font-weight: bold;
	color: green;
	font-size: 125%;
}

.formWarning {
	background-color:#f99;
}

.formLabelWarning {
	color:#f00;
}

.divider {
	border-bottom: 2px solid #242C37;
}

#leftmenu {
	background-color:#F4F4F4;
	padding: 0px 3px 3px 0px;
}

#main-table {
	border-left: 0px solid #ACA899;
	border-right: 0px solid #ACA899;
	background-color: white;
}

#PageTitle {
	text-align: right;
	padding: 4px;
	font-size: 125%;
	font-weight: bold;
	background-color:#8c8c8c;
	color: white;
}

#YouAreHere {
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
}

#PageBody {
	padding: 10px;
}

#nava
{
background-color:#242C37;
color:#FFFFFF;
border-bottom:3px solid #B8CD2B;

}

#nava a
{
	color:#FFFFFF;
	text-decoration:none;
}
#nava a:hover
{
	color: #e40000;
	text-decoration:underline;
}

#navab
{
background-color:#FFF;
color:#000;
border-bottom:1px solid #666666;
border-top:1px solid #666666;

}
#navab a
{
	color:#FFFFFF;
	text-decoration:none;
}
#navab a:hover
{
	color: #e40000;
	text-decoration:underline;
}

#ContactBox {
	border:0px;
	background-color:#EEEEE9;
	font-size: 11px;
	color:#242C37;
	padding: 10px;
	margin:0px;
}
#SearchProduct{
	border-top:1px solid #FFFFFF;
	margin-top:0px;
	ailgn:center;

	font-weight:bold;
	font-size: 11px;
	color:#242C37;
	text-align:center;


}


#SearchForm {
	text-align: center;
	border-right:0px;
	font-size:11px;
	margin-top:3px;
	background-color: #EEEEE9;
	height:85px;
	margin:0px;
	padding:0px;

}

#footer {
	color: #FFFFFF;
	padding:10px
	margin:0px;
	background-color: #242C37;
	font-size: 11px;
}

#footer a {
	color: white;
	padding:10px
	text-decoration: none;
}

#footer a:hover {
	color: white;
	text-decoration: none;
}

form #successBox {
	border-top: 1px solid green;
	border-left: 1px solid green;
	border-bottom: 2px solid green;
	border-right: 2px solid green;
	background-color: #eeffee;
	text-align: center;
	margin: 15px;
	color: green;
	padding: 8px;
}

form .successMessage {
	color: green;
}

form #errorBox, form #errorBoxCC, form #errorBoxAuthNet {
	border-top: 1px solid red;
	border-left: 1px solid red;
	border-bottom: 2px solid red;
	border-right: 2px solid red;
	background-color: #ffeeee;
	text-align: center;
	margin: 15px;
	color: red;
	padding: 8px;
}

form .errorMessage {
	color: red;
}

.topa {
font-size:12px;
padding:5px;
font-weight:bold;
width:100%;
color:#000000;
background-color:#C6FBFF;
}

.catelogn{
	text-align:center;
	font-size:12px;
	font-weight:bold;
	font-family:arial;
	text-align:center;
	height:20px;
	margin:0xp;
	padding:0px;
	background:#3498db;
	color:#FFF;
	border-bottom:1px solid #FFFFFF;
}
#mid_title{

    height:20px;
    color:black;
    background:url(images/menu_bk.gif) 0 0 repeat-x;
    font-weight:800;
    font-family:Arial;
    font-size:120%;
    text-align:center;
}
.nav{
     margin-top:35px;
}
.nav ul{
	list-style:none;

}


#top_menu{
	margin-top:45px;
	margin-bottom:0px;
	float:right;
	width:370px;
	height:20px;
	line-height:20px;
	font-size:12px;
	font-weight:bold;

}
#top_menu li{
	list-style-type:none;
	color:#008348;
	float:left;
	margin-left:10px;
}
#top_menu li a {
	text-decoration:none;
	display:block;
	padding-top:3px;
}
#top_menu li a:hover{
	text-decoration:underline;
}
#imagelist{
	margin-left:0px;

}
#imagelist li{
 float:left;
 margin-left:20px;
 list-style-type:none;
}
