body { margin: 0; padding: 0px 0px 0px 0px; color: #555; background-color: #fff; font-size: 11px; line-height: 15px; font-family: Arial, Helvetica, Verdana, sans-serif; }
table { margin: 0; padding: 0px 0px 0px 0px; color: #555; background-color: #fff; font-size: 11px; line-height: 15px; font-family: Arial, Helvetica, Verdana, sans-serif; }


a {
	color: #242C37;
	
}
a:hover	{ 
	color: #e40000;
	text-decoration:underline;


}

h3 {
	color: #242C37;
	font-size: 170%;
	font-weight: bold;
}

h4 {
	color: #fff;
	background-color: #242C37;
	border: 1px dotted #242C37;
	font-size: 130%;
	font-weight: bold;
	padding: 5px;
}

.inactive {
	display: none;
}
.active {
	display: block;
}

.menu {
border:1px solid #454545;
width:100%
background-color:#e8e8e8;

}


.menu ul { 
	padding: 0px;
	margin: 0px;
}


.menu ul ul { 
	padding-left: 10px;
}


.menu ul ul ul { 
	padding-left: 20px;
}

.menu li {
	display: inline;
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}


.menu li a {
	background-color: #e8e8e8;
	color: #242C37;
	text-decoration: none;
	font-weight: bold;
	padding: 5px;
	padding-left: 18px;
	border-bottom:1px solid  #ffffff;
	display: block;

}

.menu li a:hover {


}



.folder a {
	background-image: url("/images/folder.gif"); 
	background-repeat: no-repeat; 
}

.page a {
	background-image: url("/images/page.gif"); 
	background-repeat: no-repeat; 

}

.warning { color: #f00 }

.formMessage {
	font-weight: bold;
	color: green;
	font-size: 125%;
}

.formWarning {
	background-color:#f99;
}

.formLabelWarning {
	color:#f00;
}

.divider {
	border-bottom: 2px solid #242C37;
}

#leftmenu {
	color: #242C37;
	background-color:#242C37;
	padding: 0px;
}

#main-table {
	border: 0px solid #B8CD2B;
	background-color: white;
}

#PageTitle {
	text-align: right;
	padding: 10px;
	font-size: 125%;
	font-weight: bold;
	background-color:#8c8c8c;
	color: white;
}

#YouAreHere {
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
}

#PageBody {
	padding: 10px;
}

#nava
{
background-color:#242C37; 
color:#FFFFFF;
border-bottom:3px solid #B8CD2B;
	
}

#nava a
{
	color:#FFFFFF;
	text-decoration:none;
}
#nava a:hover
{
	color: #e40000;
	text-decoration:underline;
}

#navab
{
background-color:#242C37; 
color:#FFFFFF;
border-bottom:3px solid #B8CD2B;
border-top:5px solid #9AAC22;
	
}
#navab a
{
	color:#FFFFFF;
	text-decoration:none;
}
#navab a:hover
{
	color: #e40000;
	text-decoration:underline;
}

#ContactBox {
	border:1px solid #000000;
	background-color:#E8E8E8;
	font-size: 11px;
	color:#242C37;
	padding: 10px;
}
#SearchProduct{
	border-top:1px solid #FFFFFF;
	margin-top:10px;
	ailgn:center;

	font-weight:bold;
	font-size: 11px;
	color:#242C37;
	text-align:center;


}


#SearchForm {
	text-align: center;
	border-right:1px solid #242C37;
	font-size:11px;
	margin-top:3px;
	background-color: #E8E8E8;
	height:85px;

}

#footer {
	color: #FFFFFF;
	padding:10px
	margin:0px;
	background-color: #242C37;
	font-size: 11px;
}

#footer a {
	color: white;
	padding:10px
	text-decoration: none;
}

#footer a:hover {
	color: white;
	text-decoration: none;
}

form #successBox {
	border-top: 1px solid green;
	border-left: 1px solid green;
	border-bottom: 2px solid green;
	border-right: 2px solid green;
	background-color: #eeffee;
	text-align: center;
	margin: 15px;
	color: green;
	padding: 8px;
}

form .successMessage {
	color: green;
}

form #errorBox, form #errorBoxCC, form #errorBoxAuthNet {
	border-top: 1px solid red;
	border-left: 1px solid red;
	border-bottom: 2px solid red;
	border-right: 2px solid red;
	background-color: #ffeeee;
	text-align: center;
	margin: 15px;
	color: red;
	padding: 8px;
}

form .errorMessage {
	color: red;
}

.topa {
font-size:12px;
padding:5px;
font-weight:bold;
width:100%;
color:#000000;
background-color:#C6FBFF;
}

#catelogn{
	text-align:center;
	height:15px;
	margin:0xp;
	padding:0px;
	background-color:#9AAC22;
	padding:5px;
	color:#FFFFFF;
	border-bottom:1px solid #FFFFFF;


}